body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #FCF7F8;
  background-color: darkslategrey;
  background-image: white url(https://unsplash.com/photos/iar-afB0QQw);
  background-repeat: no-repeat;
  background-position: 100%;
  
}
#headshot{
  height: 20%;
  width: 20%;
  border-radius: 50%;
  border: 3px solid orange;
}

footer {
  display: grid;
  background-color: #343330;
  text-align: center;
  background: linear-gradient(315deg, #ffffff 0%, d7elec 74%);
}
#sidebar{
  width: 20%;
  background-color: grey;
  color: #FCF7F8;
  padding: 1rem;
}

.nav-menu{
  list-style-type: none;
  padding: 0rem;
  text-align: left;
}

.Container .button{
  font-size: large;
  width: 3rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  padding: 2rem;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #343330;
  background: crimson;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.button::after, .button::before{
content: "";
position: absolute;
opacity:0.3 ;
border-radius: inherit;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
z-index: -1;
transition: transform 0.3s ease;
}

.Container .button:hover{
  width: 80px;
  background-color: #FCF7F8;
  transition: all 0.4s ease-out;
  transform: translate(-12px, -12px);
}

.button:hover::after{
  transform: translate(6px, 6px); 
}

.button:hover::before{
  transform: translate(12px, 12px);
}

.Container .button .icon{
  font-size: 30px;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  box-sizing: border-box;
  line-height: 50px;
}

.icon:hover{
  transform: rotateZ(360deg);
  z-index: -1;
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
  font-family: Arial, Helvetica, sans-serif;
}

