body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #FCF7F8;
  background-color: darkslategrey;
}

footer {
  background-color: #343330;
  text-align: center;
}
#sidebar{
  width: 20%;
  background-color: grey;
  color: #FCF7F8;
}
.nav-menu{
  list-style-type: none;
}